.StripeElement {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 5px 30px rgba(black, .15);
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 3px 20px rgba(black, .15px);
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
